/* common */
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  align-items: center;
}

/* button  */
.btn {
  cursor: pointer;
  padding: 9px 16px;
  font-size: 17px;
  border: 1px solid transparent;
  border-radius: 6px;
  font-weight: 400;
}

.btn-blue {
  background-color: #335eea;
  border-color: #335eea;
  color: #fff;
}

.btn-text-blue {
  background-color: rgba(51, 94, 234, 0.1);
  color: #0000ff;
}

/* header  */
.header {
  display: flex;
  justify-content: center;
  padding-top: 20px;
}

.headerFluid {
  display: flex;
  justify-content: space-between;
  width: 1140px;
  align-items: center;
  padding: 15px 15px;
}

.headerLogo h1 {
  color: #0000ff;
  font-size: 30px;
}

.headerLinks ul {
  list-style: none;
  display: flex;
  gap: 50px;
}

.headerLinks ul li a {
  font-size: 20px;
  text-decoration: none;
  color: #506690;
}

/* banner section */

.bannerSection {
  height: calc(85vh - 70px);
  display: flex;
  justify-content: center;
  /* flex-wrap: wrap-reverse; */
}

.bannerContent {
  width: 50%;
}

.bannerContent h3 {
  max-width: 480px;
  font-size: 48px;
  font-weight: 100;
  color: #161c2d;
}

.bannerContent p {
  font-size: 20px;
  color: #869ab8;
  padding-top: 4%;
  max-width: 450px;
}

.bannerContent h3 span {
  color: #0000ff;
}

.bannerBtn {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding-top: 50px;
}

i {
  padding-left: 3px;
}

.bannerImage {
  width: 50%;
}

.bannerimgFluid img {
  width: 100%;
}

.bannerimgFluid {
  display: flex;
  justify-content: center;
}

/* Card Css */

.cards {
  display: flex;
  justify-content: center;
  padding: 60px 20px;
}

.card img {
  width: 48px;
  height: 48px;
  padding-bottom: 12px;
}

.card h3 {
  color: #161c2d;
  font-style: 21px;
  padding-bottom: 10px;
}
.card {
  width: 33.33%;
}

.card p {
  color: #869ab8;
  font-style: 17px;
}

/* logos-section */

.logos{
    display: flex;
    justify-content: center;
    padding: 68px 0px;
    border-top: 1px solid #f1f4f8;
 }
.logos .container ul {
  display: flex;
  list-style: none;
  width: 1140px;
  justify-content: space-between;
  align-items: center;
}
.logos .container img {
  max-width: 120px;
}
 
/* Login-card-section */

.login-card-section{
  display: flex;
  justify-content: space-around;
  padding:96px 0px;
  background-image: linear-gradient(180deg,#f9fbfd 0,#fff);
}
.card-img img{
  width: 393px;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.login-card{
  display: flex;
  flex-direction: column;
  padding: 15px 15px;
  /* width: 50%; */
  justify-content: center;
  
}
.details-card{
 width: 50%;
  
}
.login-form{
  /* width: 330px; */
  padding: 32px;
  background-color:#FFFFFF ;
  box-shadow: 0 1.5rem 4rem rgba(22,28,45,.1);;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
.login-form label{
  padding: 16px 5px;
  color: #869ab8;
  font-weight: 300;
}
.login-form input{
  padding: 16px 5px;
  color: #869ab8;
  font-weight: 300;
  border: none;
}
.login-form button{
  padding: 18px 88px;
  color: #ffffff;
  background-color: #42ba96;
  border: none;
  border-radius: 4px;
  font-size: 17px;
  margin-top: 32px;
}
.details-card h1{
   margin: 0px 0px 16px;
   color: #161c2d;
   font-size: 31px;
   font-weight:300;
}
.details-card p{
  padding: 0px 0px 32px;
  font-size: 1.1875rem;
  color: #869ab8;
  font-weight: 300;
  
}
.details-card ul{
  display: flex;
  flex-direction: row;
  list-style: none;
  
}
.details-card ul li{
   font-size: 18px;
   font-weight: 300;
   color: #42ba96;
   width: 190px;
   margin-bottom: 16px;
}
.details-card span{
  color: #42ba96;
  padding-top: 8px;
}
.login-form button{
  width: 100%;
}
.form-control{
  border-bottom: 1px solid #f1f4f8 ;
}

/* Graph-Page */



.Graph-page{
  background-image: linear-gradient(180deg,#f9fbfd 0,#fff);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 96px 0px;
}
.graph-img{
  background-image: url("./images/one.svg");
}
.graph-img img{
  max-width: 624px;
  border-radius: 10px;
  transform: rotateY(-30deg) rotateX(15deg);
}
.graph-text{
  display: flex;
}
.graph-text-container{
  padding: 0px 20px;
}
.graph-text-container h2{
  font-size: 31px;
  font-weight: 300;
  padding-bottom: 16px;
}
.graph-text-container p {
  font-size: 19px;
  font-weight: 300;
  color: #869ab8;
  padding-bottom: 32px;
}
.graph-points p{
  font-size: 17px;
  padding-bottom: 32px;
}
.graph-points h4{
  font-size: 19px;
  color: #161c2d;
  font-weight: 300;
  padding-bottom: 4px;
}
.main-img{
  padding: 0px 20px;
}
.icon svg{
  width: 48px;
  height: 48px;
}
.graph-points{
  margin-left: 24px;
}
.graph-text-container span{
  color: #335eea;
}


/* Buisness-design-Section */

.buisness-design{
  display: flex;
  justify-content: center;
  padding: 110px 0px;
}

.buisness-text-container{
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
}
.buisness-text-container h2{
 font-size: 31px;
 font-weight: 300;
 padding-bottom: 16px;
}
.buisness-text-container h2 span{
  color: #335eea;
 }
.buisness-text-container p{
 font-size: 19px;
 font-weight: 300;
 padding-bottom: 30px;
 color: #506690;
 
}
.buisness-img-container img{
  max-width: 500px;
  padding: 0px 20px;
}
.statics{
  display: flex;
}
.statics-container p{
  color: #506690;
}
.statics-container h3{
  color: #161c2d;
  font-size: 21px;
  font-weight: 300;
}

/* Carousel Page */

.crausel {
  padding-top: 100px;
}

.carousel-heading{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.crausel .carousel-heading h2 {
  padding: 0px 20px;
  font-size: 30px;
  margin-bottom: 16px;
  font-weight: 300;
}
.crausel .carousel-heading #p {
  
  padding: 0px 20px;
  font-weight: 100;
  font-size: 18px;
  color: #869AB8;
  margin-bottom: 64px;
}
.carousel-card {
  margin-bottom: 96px;
  display: flex;
  justify-content: center;
}
.carousel-card .container {
  box-shadow: 0 1.5rem 4rem rgba(22, 28, 45, .1);
  background-color: #FFFFFF;
  flex-direction: row;
  justify-content: space-between;
}

.carousel-card .container img {
  width: 50%;
}
.carousel-card .container .CrauselContent {
  padding: 64px 40px;
  text-align: center;
}
.carousel-card .container .CrauselContent img {
  margin-bottom: 40px;
  width: 252px;
  height: 80px;
}
.carousel-card .container .CrauselContent #crauselText {
  font-size: 21px;
  margin-bottom: 40px;
  color: #161C2D;
  font-weight: 100;
}
.crausel .carousel-card .container .CrauselContent small {
  color: #869AB8;
  font-size: 12px;
  font-weight: 100;
  margin-bottom: 8px;
}


/* Footer */

.Footer{
  display: flex;
  justify-content: center;
  padding: 96px 0px;
}
.Footer .container{
  align-items: flex-start;
}
.Footer .footer-lists ul li:first-child a {
  font-size: 12px;
  color: #869AB8;
}
.footer-lists h4{
  color: #869ab8;
  font-weight: 100;
  padding-bottom: 10px;
}
.social-media-icon{
  color: #869ab8;
}
/* links sections */
.Footer .footer-lists ul li {
  list-style: none;
  margin-bottom: 15px;
  font-size: 18px;
}
.Footer .footer-lists ul li a {
  text-decoration: none;
  color: #869AB8;
  font-weight: 200;
}



@media all and (max-width: 992px) {
 
  /* Header Section */

  .headerFluid {
    padding: 15px 15px 0px 15px;
  }
  .headerLinks ul {
    display: none;
  }
  .headerLogo h1{
      margin-left: 10px;
      width: 100%;
  }
  .bannerSection .container {
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0px;
  }
  .bannerImage {
    width: 100%;
    padding: 0px 15px;
  }
  .bannerSection .container .bannerContent h3,
  p {
   
    padding-top: 20px;
  }
  .bannerBtn {
    align-items: center;
    justify-content: center;
    
  }
  .btn{
      margin-right: 20px;
  }

  /* Cards */

  .card {
    padding: 15px 20px;
    text-align: left;
    width: auto;
  }
  .cards .container {
    flex-direction: column;
  }

  /* logos-section */

  .logos .container ul{
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    box-sizing: border-box;
}
.logos .container ul li{
 
  justify-content: center;
  padding: 10px;
}

.experience-page .container{
  flex-wrap: wrap;
  justify-content: center;
}
/* .login-card-section */

.login-card-section .container{
  flex-wrap: wrap-reverse;
  padding: 20px;
  width: 100%;
  
}
.card-img img{
  width: 100%;


}
.login-form{
  width: 100%;
  padding: 0px;
}
.details-card{
   width: 100%;
   flex-wrap: wrap;
}
.login-card{
 width: 100%;
}
.details-card ul {
  flex-direction: column;
}
/* Graph-Section */

.Graph-page .container{
  flex-direction: column;
}
.graph-img img{
  width: 100%;
}
.graph-img{
  padding: 10px;
}
 /* Buisness-design-Section */

 .buisness-design .container{
   flex-wrap: wrap-reverse;
 }
 .buisness-img-container img{
   width: 100%;
 }
 .buisness-text-container{
   padding: 0px 20px;
 }
 .buisness-img-container{
  padding: 0px 20px;
}
/* Carousel-Section */

.crausel .container{
  flex-direction: column;
}

/* Footer */
.Footer{
  width: 100%;
}
.Footer .container{
  flex-direction: column;
}

}


@media all and (max-width: 1380px) {
  .bannerSection {
    height: 100%;
    width: 100%;
    padding-top: 30px;
  }

}
